body{
    margin-left: 700px;
    background-color: #ffe6e6;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.donor{
    width:700px;
    height:700px;
    object-fit: cover;
    position: fixed;
    top:0px;
    bottom:0px;
    left:0px;
}
.header{
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.message{
    margin-top:30px;
    font-size:35px;
    font-weight: 900;
    color:red;

}
.blooddrop{
    font-size: 30px;
}
.persondetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.detailscontainer{
    display:flex;
    flex-direction: column;
    margin-top: 10px;
}
label{
    font-size:22px;
    margin-bottom: 5px;
    color:rgb(208, 15, 15);
}
input{
    font-size: 16px;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 50px;
    border-color: rgb(197, 7, 7);
    border-style:solid;
}
.available{
    display:flex;

}
.para{
    color:rgb(97, 97, 97);
    margin-bottom: 5px;
}
.lower{
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
select{
    
    height:30px;
    width:220px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    border-radius: 50px;
    border-color: rgb(197, 7, 7);
    border-width:2px ;
    border-style:solid;

}
button{
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 50px;
    background-color: rgb(238, 32, 32);
    color:white;
    font-weight: 600;
    font-size: 20px;
    border-style: none;
   
}